@charset "utf-8";
/*
*医生详情界面
*
*/
body{
    background: #eeeff1;
}
header div{
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top:4px;
    left: 0px;
    background-image: url("../img/content/arrow_left-white.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
}
section ul li{
    display: block;
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #ccc;
    background: #fff;
    padding: 9px;
    box-sizing: border-box;
}
section ul li img{
    width: 72px;
    height: 72px;
    border-radius: 100%;
    vertical-align: inherit;
    float: left;
}
section ul:nth-child(1) li div{
    color: black;
    width: 220px;
    height: 70px;
    padding-left: 10px;
    float: left;
}
section ul:nth-child(1) li div span{
    display: block;
    margin-top: 5px;
    margin-left: 5px;
}
section ul:nth-child(1) li div span:nth-child(1){
    font-size: 16px;
    color: #11a8bb;
}
section ul:nth-child(1) li div span:nth-child(2){
    font-size: 14px;
    color: #ccc;
}
section ul:nth-child(1) li div span:nth-child(3){
    font-size: 12px;
    color: black;
    float: left;
}
section ul:nth-child(1) li div span:nth-child(4){
    margin-left: 5px;
    font-size: 12px;
    color: black;
    float: left;
}
section ul:nth-child(2) li{
    width: 100%;
    height: 50px;
    padding: 2px;
    border-bottom: 1px solid #ccc;
    background: #fff;
    color: black;
    font-size: 15px;
    line-height: 50px;
    box-sizing: border-box;
}
section ul:nth-child(2) li div{
    width: 24px;
    height: 46px;
    float: left;
    margin-right: 5px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}
section ul:nth-child(2) li span{
    float: left;
}
section ul:nth-child(2) li a{
    width: 34px;
    height: 46px;
    display: block;
    position: absolute;
    right: 0px;
    background: url("../img/content/arrow_right-gray.png") no-repeat;
    background-size: 25%;
    background-position: center;
}
section ul:nth-child(2) li:nth-child(1) div{
    background-image: url("../img/content/document.png");
}
section ul:nth-child(2) li:nth-child(2) div{
    background-image: url("../img/content/medical2x.png");
}
section ul:nth-child(2) li:nth-child(3) div{
    background-image: url("../img/content/doctorNote2x.png");
}
section ul:nth-child(2) li:nth-child(4) div{
    background-image: url("../img/content/clock2x-white.png");
}
section>ul:nth-child(2)>li:nth-child(4){
    background-color: #11a8bb;
    border-bottom: 1px solid #0A91A2;
    color: #fff;
}
section ul:nth-child(2) ul li span{
    display: block;
    margin-left: 30px;
    color: #666;
}
section ul:nth-child(2) ul li input{
    width: 64px;
    height: 36px;
    float: right;
    background: red;
    color: white;
    margin-top: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}
section ul:nth-child(2) ul li input[value="预约"]{
    background: #11a8bb;
}