@charset "utf-8";
/*
*预约挂科界面
*
*/
body{
    background: #eeeff1;
}
header div{
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top:4px;
    left: 0px;
    background-image: url("../img/content/arrow_left-white.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
}
header a{
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    background-image: url("../img/content/arrow_right-consult-white.png");
    background-position: center;
    background-size: 90%;
    background-repeat: no-repeat;
}
section ul li{
    display: block;
    width: 100%;
    height: 46px;
    border-bottom: 1px solid #ccc;
    background: #fff;
}
section ul li span{
    color: black;
    line-height: 46px;
    margin-left: 10px;
    font-size: 14px;
}
section ul li a{
    display: inline-block;
    width: 34px;
    height: 46px;
    background-image: url(../img/content/arrow_right-gray.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    position: absolute;
    right: 0px;
}