@charset "utf-8";
/*
*
*检查报告
*/
header a{
    background-image: url(../img/content/search@2x-white.png);
}
.inp{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background: #89d3de;
    border-bottom: 1px solid #79c3ce;
    text-align: center;
    box-sizing: border-box;
    
}
.inp span{
    margin: 0 10px;
}
input{
    border: 1px solid #fff;
    border-radius: 20px;
    background: #89d3de;
    width: calc(50% - 30px);
    color: white;
    height: 35px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
input:focus{
    background: #fff;
    color: #666;
}
ul{
    margin-top: 10px;
}
ul li{
    height: 70px;
    width: 100%;
    padding: 10px;
    background: #fff;
    color: black;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
}
ul li span{
    display: block;
    margin-top: -2px;
}
ul li span:nth-child(3){
    color: #666;
    font-size: 12px;
}
ul li a{
    width: 34px;
    height: 68px;
    display: block;
    position: relative;
    float: right;
    top:-55px;
    background: url("../img/content/arrow_right-gray.png") no-repeat;
    background-size: 30%;
    background-position: center;
}
map{
    color: red;
}