@charset "utf-8";
/*
*下级页面公共样式
*
*/
body{
    background: #eeeff1;
}
header div{
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top:4px;
    left: 0px;
    background-image: url("../img/content/arrow_left-white.png");
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
}
header a{
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 5px;
    background-image: url("../img/content/home@2x.png");
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
}