@charset "utf-8";
/*
*
*会员预约项目
*/
section{
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}
section div{
    width: 100%;
    height: 40px;
    background: #11a8bb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 40px;
    padding-left: 10px;
    box-sizing: border-box;
}
section div span:nth-child(2){
    float: right;
    margin-right: 10px;
}
section ul{
    list-style: inside url(../img/content/point.png);
}
section ul li{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-top: none;
    line-height: 40px;
    box-sizing: border-box;
    background: #fff;
    padding-left: 10px;
    color: #666;
}
section ul li:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
