@charset "UTF-8";
/**
*
*“我的” 布局界面
**/
section{
    text-align: center;
}
section ul:nth-child(1){
    width: 100%;
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: #64d0e7;
}
section ul:nth-child(1) li{
    margin: 0 auto;  
    text-align: center;
}
section ul:nth-child(1) li:nth-child(1){
    width: 128px;
    height: 128px;
    border: 1px solid #ccc;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
    display: block;
}
section ul:nth-child(1) li:nth-child(1) img{
    width: 100%;
    height: auto;
    cursor: pointer;
}
section ul:nth-child(1) li:nth-child(2){
    margin-top: 10px;
    margin-bottom: 10px;
}
section ul:nth-child(1) li:nth-child(2) div{
    width: 20px;
    height: 20px;
    background-image: url(../img/content/gender-girl@2x.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    margin: 0 auto;
    display: inline-block;
}
section ul:nth-child(1) li:nth-child(2) span{
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
}
section ul:nth-child(1) li:nth-child(3) span{
    display: inline-block;
    width: 128px;
    height: 25px;
    background-color: #91dfee;
    border-radius: 12.5px;
    color: #008a9b;
    line-height: 25px;
    cursor: pointer;
}
section ul:nth-child(2) li{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #ccc;
    color: black;
    display: inline-block;
    text-align: left;
}
section ul:nth-child(2) div,section ul:nth-child(2) li a,section ul:nth-child(2) li a1,section ul:nth-child(2) li a2{
    width: 24px;
    height: 46px;
    vertical-align:bottom;
    display: inline-block;
    margin-left: 20px;
    line-height:46px;
    margin-top: 2px;
    cursor: pointer;
}
section ul:nth-child(2) span{
    line-height: 46px;
    margin-left: 10px
}
section ul:nth-child(2) li:nth-child(1) div{
    background-image: url("../img/content/mobile-2.png");
}
section ul:nth-child(2) li:nth-child(2) div{
    background-image: url("../img/content/edituser-2@2x.png");
}
section ul:nth-child(2) li:nth-child(3) div{
     background-image: url("../img/content/document.png");
}
section ul:nth-child(2) li:nth-child(4) div{
     background-image: url("../img/content/locked-2@2x.png");
}
section ul:nth-child(2) li:nth-child(5) div{
     background-image: url("../img/content/email-2@2x.png");
}
section ul:nth-child(2) li:nth-child(6) div{
     background-image: url("../img/content/about@2x.png");
}

section ul:nth-child(2) li a{
    background-image: url("../img/content/arrow_right-gray.png");
}

section ul:nth-child(2) li div,section ul:nth-child(2) li a,section ul:nth-child(2) li a1,section ul:nth-child(2) li a2{ 
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}
section ul:nth-child(2) li a,section ul:nth-child(2) li a1,section ul:nth-child(2) li a2{
    float: right;
    margin-right: 15px;
    background-size: 40%;
}
section ul:nth-child(2) li a1{
    background-image: url("../img/content/editdocument-3@2x.png");
     background-size: 90%;
}
section ul:nth-child(2) li a2{
    background-image: url("../img/content/tel@2x.png");
    background-size: 90%;
}
section input{
    width: 99%;
    height: 45px;
    background-color: #11a8bb;
    border: none;
    border-radius: 5px;
    margin: 20px auto;
    color: white;
    font-size: 18px;
    outline: none;
}
footer a:nth-child(3) div{
    background-position: 20px 0px;
}
footer a:nth-child(3) span{
    color: #11a8bb;
}
