@charset "utf-8";
/*
*
*个人信息
*/
.imgheader{
    width: 100%;
    height: 100px;
    background: #fff;
    margin-top:15px; 
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    line-height:80px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.imgheader .img-girl{
	width: 80px;
    height: 80px;
    border-radius: 100%;
    overflow:hidden;
    float: left;
}
.imgheader img{
	width: 80px;
}
.imgheader span{
    float: right;
    color: #ccc;
}
p{
    color: black;
    margin-left: 10px;
}

ul li{
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    background: #fff;
    box-sizing: border-box;
    line-height: 45px;
    color: black;
    padding-left: 10px;
}
li:first-child{
    border-top: 1px solid #ccc;
}
ul li label{
    display: block;
    width: 66px;
    height:45px;
    float: left;
    color: #11a8bb;
}
ul li span{
    margin-left: 10px;
}