@charset "utf-8";
/*
*
*报告详情界面
*/
div span{
    display: block;
    margin-top: 10px;
    color: black;
    margin-left: 10px;
}
img{
    margin: 0 auto;
}
.img{
    width: 94%;
    height: 200px;
    padding: 8px;
    box-sizing: border-box;
    margin: 0 auto;
    background: #fff;
}
img{
    display: block;
    margin: 0 auto;
    height: 100%;
}